/* 
 Colour Schemes:
 #84AA47 : Asparagus
 #9BD1E5 : Pale Cerulean
 #F1FFFA : Mint Cream
 #CCFCCB : Tea Green
 #96E6B3 : Teal Deer
 
*/

@font-face {
    font-family: mainfont;
    src: url("expressway rg.ttf");
}

@font-face {
    font-family: mainserif;
    src: url("Dustismo_Roman.ttf");
}

html, body {
    padding:0;
    margin:0;
	background-color:  #F1FFFA;
}

a {
	text-decoration: none;
}

p {
	font-family: mainfont;
}

.content {
	width:80%;
	margin: auto;
}

#homePicture {
	position: relative;
	width: 100%;
	margin: auto;
	vertical-align:middle;
}

#indexLogo {
	position: absolute;
	width:20%;
	left: 10%;
	top:10%;
	filter: brightness(10000%);
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
	

#homePicture .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  	vertical-align:middle;
}

.button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#homePicture:hover .button {
  opacity: 1;
}

.buttonText {
  transition: .5s ease;
  background-color: #9BD1E5;
  color: #F1FFFA;
  font-size: 16px;
  font-family: mainfont;
  padding: 16px 32px;
  border: 2px solid #9BD1E5;
  border-radius: 30px;
}

.buttonText:hover {
	transition: .5s ease;
	filter: brightness(110%);
	font-size: 16.7px;
}

.textOnPicture {
	position: absolute;
	top: 48%;
	left:50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
	margin:auto;
	font-family: mainfont;
	font-size: 50px;
	color: #F1FFFA;
	text-shadow: -1px 0 #84AA47, 0 1px #84AA47, 1px 0 #84AA47, 0 -1px #84AA47;
}


#quoteLine {
	font-size: 27px;
	width: 90%;
	margin: auto;
	text-align:right;
	color: #9BD1E5;
	transition: .5s ease;
}

#quoteLine p {
		transition: .5s ease;
}

#quoteLine:hover #quote{
	color: black;
	transition: .5s ease;
}

#quoteLine:hover p{
	color: black;
	transition: .5s ease;
}

#quote {
	transition: .5s ease;
	font-size: 40px;
	text-align:left;
	color: #9BD1E5
}

.quotation {
	color: #84AA47;
	font-size: 60px;
	font-family: mainserif;
}

footer {
	background-color: #9BD1E5;
	padding:5px 5px;
	padding-left:10px;
    margin-top:50px
	font-family: mainfont;
	color: #F1FFFA
}

.footerContent {
	width: 80%;
	margin: auto;
}

.footerHR {
	padding: 0;
	margin: 0;
	margin-top: 300px;
	height: 12px;
	background-color: #84AA47;
	width:100%;
	margin:auto;
	border: none !important;
}

#footerSourceButton {
  transition: .5s ease;
  width: 80px;
  height: 30px;
    margin-bottom:10px;
  margin-top:10px;
}

#sourceButtonText {
  transition: .5s ease;
  background-color: #84AA47;
  color: #F1FFFA;
  font-size: 14px;
  font-family: mainfont;
  padding: 15px 15px;
  border-radius: 30px;

}
#sourceButtonText:hover {
	transition: .5s ease;
	filter: brightness(125%);
	font-size:14.5px
}

/* everything below is for family stock photo */

#introduction {
	margin:auto;
	padding-bottom: 70px;
	margin-top: 70px;
}

.container {
  position: relative;
  width: 45%;
  float:left;
  margin: 20px 40px 20px 20px;
  padding-top: 10px;
}

.introductionImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: -30px -30px 0px #84AA47;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #84AA47;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 0px 0px 10px 10px
}

.container:hover .overlay {
  height: 10%;
  opacity: 0.7;
}

.message {
  white-space: nowrap; 
  color: #F1FFFA;
  font-size: 15px;
  font-family: mainfont;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.emptySpace {
	height:70px;
	color: white;
	opacity:0;
}

#introductionText {
    margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	font-family: mainfont;
	font-size: 17px;
	line-height: 30px;
	text-align: justify;
}

#introductionHR {
	background-color: #9BD1E5;
	height: 2px;
	border-style: none;
	}
	
